.titulo{
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    color: #5881A6;
    text-shadow: 2px 2px black;
}

.saida{
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}

.saida a{
    text-decoration: none;
    color: #5881A6;
}

.saida a:hover{
    color: aqua;
}